<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guard Login</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <div class="Full-sign-page">
        <div class="full-center">
            <div class="login-card">

                <p class="login-title">Guard Login</p>

                <label class="login-label">Email</label>
                <input type="email" id="email" class="login-field" placeholder="Enter your email">

                <label class="login-label">Password</label>
                <input type="password" id="password" class="login-field" placeholder="Enter your password">

                <div class="login-btn-container">
                    <button class="login-btn">
                        <a href="http://localhost:8080/guardhome">Login</a>
                    </button>
                </div>

            </div>
        </div>
    </div>
</body>

</html>
